.midContent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8em;
    align-items: center;
    margin-left: 4em;
}

.midContent p{
    width: 800px;
    font-size: large;
    font-family: "Open Sans", sans-serif;
    margin-top: 2em;
}
.midContent h1{
    color: #755483;
    font-family: "Montserrat", sans-serif;
}
img{
    border-radius: 30px;
}

@media(max-width: 500px){
    .midContent{
        flex-direction: column;
        margin-bottom: 3em;
    }
}