.aos{
    margin-bottom: 3em;
}

.profile_container{
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: max-content;
    border-radius: 40px;
    background: #f1eff3;
}

.first_div{
    margin-right: 50px;
}

.first_div h1{
    margin-bottom: 1em;
    color: #755483;
}
.cargo{
    color: #c888e3;
}
.img{
    width: 180px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: .2px solid rgb(132, 42, 132);
    
}

.profile_container h1{
    font-family: 'Open Sans', sans-serif;
}

.profile_container  h2, h3, p{
    color: black;
}

h2, h3, p{
    font-family: "Montserrat", sans-serif;
}

@media(max-width: 500px){
    
    .profile_container{
        margin-top: 3em;
        flex-direction: column;
        padding: 10px;
        box-shadow: none;
     
    }
    .first_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .first_div img{
        border-radius: 90px;
        height: 200px;
    }
    .second_div{
        text-align: center;
    }
}